.infoBox {
    flex: 1;
    cursor: pointer;
}

.infoBox:not(:last-child) {
    margin-right: 15px;
}

.infoBox__cases {
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: .5rem;
}

.infoBox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
}

.info--recovered {
    border-top: 10px solid greenyellow;
    color: lightgreen !important
}

.info--deaths {
    border-top: 10px solid red;
    color: red !important;
}

.info--cases {
    border-top: 10px solid rgb(252, 112, 135);
    color: rgb(252, 112, 135);
}

.infobox--green {
    color: lightgreen !important;
}